body {background: #9ae4e8; margin: 0; font: 0.90em/1 Helvetica, Arial, sans-serif; width: 100%;}
.pf_hd {width: 100%; background: linear-gradient(to bottom, #89d3d7, #67b1c5); font-weight: bold; padding: 5px; color: white; display: block;}
.pf_hd a {color: white;}
.pf_inf {display: table-cell; vertical-align: text-top; width: 100%;}
.pf_inf_img {width: 64px; height: 100%; display: inline-block;}
.pf_inf_o {width: calc(100% - 80px); height: 100%; display: inline-block;}
.pf_psts {background: white; display: inline-block; width: auto; padding: 5px;}
.pf_pst time {font-style: italic;}