body {background: white; min-width: 1px; display: block; word-break: break-all; font-family: Helvetica, sans-serif; margin: 0; font-size: 90%;}
.header {background: #244375; width: 100%; height: 32px; line-height: 32px; display: block; vertical-align: middle; position: relative;}
.header img {vertical-align: middle!important;}
ul {padding-left: 25px;}
table, tr, td {vertical-align: top;}
.scrhead {border-bottom: 2px solid #ddd; width: 100%; font-weight: bold; display: block; text-indent: 2px;}
.scrcont {border-bottom: 1px solid #ddd; width: 100%; display: block; margin: 2px 0; padding: 2px 2px 2px 4px;}
.timeago {color: gray;}
.prof_link, .mo_link, .o_link {color: #03c; text-decoration: underline; cursor: pointer;}
@media screen and (max-width: 800px) {
    html {padding-bottom: 80px; margin-top: -1vw!important; min-height: 1px!important;}
    body, body *, .list_item {font-size: 7vw!important;}
    .header {height: 12vw; display: block;}
    .header img {width: 70vw; display: block;}
    .profileimg {width: 25vw!important; height: 25vw!important; display: block!important;}
}